{% extends 'base.html' %}
{% block pagetitle %}Home{% endblock pagetitle %}
{% block index %}
<section>
    <h1 class="text-center display-2 fw-bold">Hello, world!</h1>
    <h6 class="text-center">Welcome to ingenious pritam</h6>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img classs="card-img" src="https://picsum.photos/200/300" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img classs="card-img" src="img/p.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock index %}